*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none; /* 移除列表點 */
    box-sizing: border-box;
}

a{
    text-decoration: none; /* 移除底線 */
}

button {
    cursor: pointer;
}

header{
    position: absolute;
    background-color: rgba(32,32,32,0);
    width: 100%;
    /* height: 80px; */
    height: 10vh;
    z-index: 999;
}

#nav{
    position: relative;
    width: 100%;
    /* height: 80px; */
    height: 10vh;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

nav button{
    position: absolute;
    left: 0px;
    background-color: transparent;
}

nav img {
    width: auto;
    height: 80px;
    position: relative;
    margin-left: 0px;
    background-color: transparent;
}

#hmaber-button{
    display: none;
}
/* 增加choose */
.choose{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    width: 20%;
}
/* 移除top、margin，增加cursor、border-radius、transform */
#project-chose-button{
    z-index: 99;
    /* top: 16px; */
    /* margin-right: 120px; */
    gap: 0px;
    opacity: 0px;
    position: relative;
    cursor: pointer;
    transform: skew(-22deg);
    transition: transform 0.3s ease;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* add */
#project-chose-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#project-chose-button.active::after{
    background: rgba(34, 40, 49, 0.85);
}
#group{
    /* margin-right: 30px; */
    /* top: 16px; */
    position: relative;
    cursor: pointer;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav p {
    color: var(--light-blue, #96EFFF);
    text-align: center;
    text-shadow: 0px 0px 12px #23F6FF;
    font-family: "Noto Serif TC";
    font-size: clamp(18px, 2vw, 24px);/* 最小值、中間值、最大值 */
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    z-index: 100;
}

nav a img:hover{
    width: auto;
    height: auto;
    transition: transform 0.3s ease; /* 添加過渡效果 */
}

#Project-page{
    top: 0px;
    position: absolute;
    width: 100%;
    height: 1024px;
    display: none; /* 使用 Flexbox */
    justify-content: center; 
    z-index: 3;
}
/* 修改 */
#Project-page1{
    position: relative;
    /* width: 1440px; */
    width: 100%;
    height: 1024px;
    flex-shrink: 0;
}
/* 修改 */
#Project-page-img{
    position: absolute;
    right: 20%;
    height: 80px;
    /* width: Fixed (195px)px;
    height: Fixed (80px)px;
    left: 1127px;
    gap: 0px;
    opacity: 0px;
    position: absolute;     */
}
/* 修改 */
#project-chose{
    /* 加flex */
    display: flex;
    position: absolute;
    /* width:1440px; */
    left: 5%;
    width: 90%;
    height: 800px;
    top: 70px;
    gap: 0px;
    opacity: 0px;
    background: rgba(34, 40, 49, 0.85);
    /* add */
    justify-content: space-around;
}
/* add */
#project-chose > div{
    position: relative;
    top: 20px;
    display: flex;
    width: 33%;
    height: calc(100% - 20px);
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
#Project-page1 h2{
    color: var(--light-blue, #96EFFF);
    text-align: center;
    font-family: "Noto Serif TC";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 0px;
    opacity: 0px;
}
/* add */
.project-cont{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
}

#h2-1{
    top: 28px;
    left: 148px;
}

#h2-2{
    top: 28px;
    left: 618px;
}

#h2-3{
    top: 28px;
    left: 1128px;
    gap: 0px;
    opacity: 0px;
}

#line1{
    width: Fixed (5px)px;
    height: Fixed (102px)px;
    top: 88px;
    /* left: 189px; */
    position: absolute;
}

#line2{
    top: 88px;
    /* left: 669px; */
    gap: 0px;
    position: absolute;
}

#line3{
    top: 88px;
    /* left: 1149px; */
    position: absolute;
}

#project-chose button{
    background-color: rgba(32,32,32,0);
}

#project-chose p{
    color: #FFF;
    text-align: center;
    font-family: "Noto Serif TC";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: rgba(32,32,32,0);
}

#project-chose a{
    background-color: rgba(32,32,32,0);
    text-decoration: none; /* 移除底線 */
}

#history{
    top:133px;
    /* left: 188px; */
    position: absolute;
}

#young{
    top: 276px;
    /* left: 168px; */
    position: absolute;
}

#tower{
    top:419px;
    /* left: 148px; */
    position: absolute;
}

#school{
    top: 562px;
    /* left: 108px; */
    position: absolute;
}

#recycle{
    top: 133px;
    /* left: 620px; */
    position: absolute;
}

#river{
    width: Fixed (210px)px;
    height: Fixed (46px)px;
    top: 276px;
    /* left: 665px; */
    gap: 0px;
    opacity: 0px;
    position: absolute;    
}

#witch{
    width: Fixed (64px)px;
    height: Fixed (48px)px;
    top: 419px;
    /* left: 688px; */
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

#heart{
    top: 562px;
    /* left: 648px; */
    position: absolute;
}

#rock{
    top:133px;
    /* left:1105px; */
    position: absolute;
}

#food{
    top:242px;
    /* left:1145px; */
    position: absolute;
}

#Play{
    top:350px;
    /* left:1125px; */
    position: absolute;
}

#mushroom{
    top:460px;
    /* left:1185px; */
    position: absolute;
}

#music{
    top: 568px;
    /* left:1155px; */
    position: absolute;
}

#close{
    width: Fixed (28px)px;
    height: Fixed (28px)px;
    top: 16px;
    right: 15px;
    /* left: 1397px; */
    gap: 0px;
    opacity: 0px;
    position: absolute;    
}

#social-media-bar {
    display: none; /* 初始設置為隱藏 */
    justify-content: right; /* 對齊內容到右側 */
}

#social-media-bar ul {
    width: 125px; /* 設置寬度 */
    height: 270px; /* 設置高度 */
    border-radius: 0 0 0 15px; /* 圓角 */
    text-align: center; /* 文字居中對齊 */
    background: #383D45; /* 背景顏色 */
    z-index: 998; /* 堆疊順序 */
}
#social-media-bar div{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
#social-media-bar img {
    display: block; /* 讓圖片作為塊級元素 */
    background: #383D45; /* 背景顏色 */
    /* padding-top: 20px; 頂部間距
    padding-left: 30px; */
    margin: 0; /* 移除圖片的外邊距 */  
}

#hamber{
    display: none;
}

#hamber-project{
    display: none;
}

#video-container{
    width: 100%;
    height: 100vh;
    /* width: 1440px; 自適應寬度
    height: 780px; 自適應高度 */
    display: flex; /* 使用 Flexbox */
    justify-content: center; /* 水平居中 */
    background-color: rgba(0, 0, 0, 1);
    position: relative;
}
/* 修改 */
#video-content{
    position: relative;
    width: 100vw;
    height: 100vh;
    /* width: 1440px; 自適應寬度
    height: 780px; 自適應高度 */
    display: flex; /* 使用 Flexbox */
    justify-content: center; /* 水平居中 */
}
/* 修改 */
#background-image{
    position:absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    display: block;
}
/* 修改 */
#background-black{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* width: 1440px; 自適應寬度
    height: 780px; 自適應高度 */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.40);
    z-index: 1;
}
/* 修改left置中 */
#play-button{
    position: absolute;
    width: Fixed (150px)px;
    height: Fixed (150px)px;
    top: 320px;
    /* left: 645px; */
    left: calc(50% - 75px);
    gap: 0px;
    opacity: 0px;    
    z-index: 2;
}
/* 修改 */
#scroll-image{
    position: absolute;
    width: Fixed (115px)px;
    height: Fixed (35px)px;
    top: 628px;
    /* left: 663px; */
    left: calc(50% - 60px);
    z-index: 2;
}

#point-image{
    position: absolute;
    width: Fixed (68px)px;
    height: Fixed (25px)px;
    top: 676px;
    /* left: 707px; */
    left: calc(50% - 13.5px);
    z-index: 2;
}
/* del grid */
#info-container{
    width: 100%; /* 自適應寬度 */
    /* display: grid; */
    justify-content: start; /* 水平居中 */
    background: linear-gradient(202.29deg, #000000 11.21%, #222831 73.55%);
    position: relative;
}

#info-section-1{
    position: relative;
    /* width: 1440px; */
    height: 700px;
    width: 100%;
    display: flex; /* 使用 Flexbox */
    justify-content: center; /* 水平居中 */
}

#info-decorative-image{
    position: absolute;
    width: Fixed (123px)px;
    height: Fixed (123px)px;
    left: 25px;
    z-index: 2;
}

#info-details .title{
    position: absolute;
    color: #FFF;
    font-family: "Noto Serif TC";
    /* font-size: 64px; */
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: Fixed (492px)px;
    height: Fixed (92px)px;
    top: 133px;
    left: 170px;
    z-index: 2;
}

#info-details p{
    position: absolute;
    background: rgba(255, 255, 255, 1);
    color: #FFF;
    font-family: Noto Serif TC;
    /* font-size: 28px; */
    font-size: clamp(16px, 2vw, 24px);
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    width: Fixed (550px)px;
    height: Fixed (240px)px;
    top: 264px;
    left: 170px;
    background-color: transparent;
    z-index: 2;
}

#logo-img{
    position: absolute;
    width: 40%;
    /* width: Fixed (598px)px;
    height: Fixed (429px)px; */
    top: 135px;
    right: 50px;
    z-index: 2;
}

#info-details a img{
    position: absolute;
    width: 200px;
    height: 60px;
    top: 555px;
    /* left: 620px; */
    left: calc(50% - 100px);
    background-color: transparent;
    z-index: 2;
}

#info-decorative-image2{
    position: absolute;
    width: Fixed (96.66px)px;
    height: Fixed (85px)px;
    top: 601.05px;
    left: 112.96px;
    transform: rotate(9.39deg); /* 旋轉 9.39 度 */
    z-index: 2;
}
/* 修改 */
#light{
    position: absolute;
    /* width: Fixed (280px)px;
    height: Fixed (280px)px; */
    width: 100%;
    height: 100%;
    /* top: 112px; */
    left: 0;
    /* left: -75px; */
    z-index: 1;
}
#light img{
    width: 100%;
    height: 100%;
}

#info-section-2{
    position: relative;
    width: 100%;
    height: 600px;
    display: flex; /* 使用 Flexbox */

}
/* 修改 */
#info-content-2{
    position: absolute;
    /* width: 1440px; */
    width: 100%;
    height: 600px;
    display: flex; /* 使用 Flexbox */
    /* justify-content: center; 水平居中 */
}

#exhibition-options{
    z-index: 2;
    top: 0px;
    left: 0%;
    position: relative;

}

#Tab-bar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90px;
    height: 600px;
}

#Rectangle{
    position: absolute;
    top: 78px;
    left: 0px;
    width: 21px;
    height: 166px;
    transition: top 0.3s ease; /* 設置 top 屬性的過渡效果 */
}

#exhibition-options p{
    color: #FFF;
    text-align: center;
    font-family: "Noto Serif TC";
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.2px;
    width: 38.889px;
    height: 140px;
}

#exhibition-options button{
    background-color: transparent;
    height: 140px;
    z-index: 2;
}

#place1{
    position: absolute;
    top: 95px;
    left: 20px;
}

#place2{
    position: absolute;
    top: 377px;
    left: 20px;
}

#map{
    display: none;
}

#place-info1{
    z-index: 2;
}
/* 修改 */
.place-title{
    position: absolute;
    color: #FFF;
    font-family: "Noto Serif TC";
    /* font-size: 56px; */
    font-size: 3.8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: Fixed (224px)px;
    height: Fixed (80px)px;
    top: 95px;
    left: 168px;
    z-index: 2;
}

#name{
    display: none;
}

#date{
    display: none;
}

#location{
    display: none;
}

#name1{
    position: absolute;
    color: #FFF;
    font-family: "Noto Serif TC";
    /* font-size: 32px; */
    font-size: 2.3vw;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 250% */
    width: Fixed (416px)px;
    height: Fixed (80px)px;
    top: 217px;
    left: 168px;
    z-index: 2;
}
/* 修改 */
#date1{
    position: absolute;
    width: Fixed (207px)px;
    height: Fixed (80px)px;
    top: 320px;
    left: 168px;
    color: #FFF;
    font-family: "Noto Serif TC";
    /* font-size: 32px; */
    font-size: 2.3vw;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 250% */
    letter-spacing: 0.64px;
    z-index: 2;
}
/* 修改 */
#location1{
    position: absolute;
    color: #FFF;
    font-family: "Noto Serif TC";
    /* font-size: 32px; */
    font-size: 2.3vw;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 250% */
    letter-spacing: 0.64px;
    width: Fixed (429px)px;
    height: Fixed (80px)px;
    top: 400px;
    left: 168px;
    z-index: 2;
}
/* 修改 */
#map-link1{
    position: absolute;
    /* width: 100px; */
    /* height: 100px; */
    top: 377px;
    /* left: 595px; */
    left: calc(45% + 50px);
    z-index: 2;
}
/* 修改 */
#map1{
    position: absolute;
    /* width: Fixed (588.96px)px;
    height: Fixed (320px)px; */
    width: 700%;
    height: auto;
    /* top: 160px; */
    /* left: 787px; */
    top: calc(300px / 2);
    left: 60%;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;   
    transform: scale(0.05); 
    z-index: 3;
    transform-origin: top left; 
}

#place-info2{
    display: none;
    z-index: 2;
}

/* #place-info2 h2{
    position: absolute;
    color: #FFF;
    font-family: "Noto Serif TC";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: Fixed (224px)px;
    height: Fixed (80px)px;
    top: 95px;
    left: 168px;
    z-index: 2;
} */

#name2{
    position: absolute;
    color: #FFF;
    font-family: "Noto Serif TC";
    /* font-size: 32px; */
    font-size: 2.3vw;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 250% */
    width: Fixed (416px)px;
    height: Fixed (80px)px;
    top: 217px;
    left: 168px;
    z-index: 2;
}

#date2{
    position: absolute;
    width: Fixed (207px)px;
    height: Fixed (80px)px;
    top: 320px;
    left: 168px;
    color: #FFF;
    font-family: "Noto Serif TC";
    /* font-size: 32px; */
    font-size: 2.3vw;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 250% */
    letter-spacing: 0.64px;
    z-index: 2;
}

#location2{
    position: absolute;
    color: #FFF;
    font-family: "Noto Serif TC";
    /* font-size: 32px; */
    font-size: 2.3vw;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 250% */
    letter-spacing: 0.64px;
    width: Fixed (429px)px;
    height: Fixed (80px)px;
    top: 400px;
    left: 168px;
    z-index: 2;
}
/* 修改 */
#map-link2{
    position: absolute;
    /* width: 100pxpx;
    height: 100px; */
    top: 377px;
    /* left: 595px;   */
    left: calc(45% + 50px);
    z-index: 2;
}
/* 修改 */
#map2{
    position: absolute;
    /* width: Fixed (588.96px)px;
    height: Fixed (320px)px; */
    width: 35%;
    height: auto;
    /* top: 160px;
    left: 787px; */
    top: calc(300px / 1.5);
    left: 60%;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;    
}

#light2{
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: -227px; */
    /* left: 159px; */
    z-index: 1;
    /* width: Fixed (280px)px;
    height: Fixed (280px)px; */
}

#info-section-3{
    position: relative;
    /* width: 1440px; */
    width: 100%;
    height: 670px;
    display: flex; /* 使用 Flexbox */
    justify-content: center; /* 水平居中 */
    overflow: hidden;
}
/* add */
#shop{
    width: 100%;
}

#shop h2{
    position: absolute;
    color: #FFF;
    text-align: center;
    font-family: "Noto Serif TC";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: Fixed (224px)px;
    height: Fixed (80px)px;
    top: 35px;
    left: 135px;
}

#shop-description1{
    position: absolute;
    width: Fixed (111px)px;
    height: Fixed (111px)px;
    top: 22px;
    left: 362px;  
}
/* 修改overflow，隱藏滾動條 */
#goods{
    position: relative;
    /* top: 151px; */
    top: 130px;
    height: 450px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* 適用於 IE & Edge */
    scrollbar-width: none;  /* 適用於 Firefox */
    z-index: 2;
}
/* 適用於 WebKit (Chrome, Safari) */
#goods::-webkit-scrollbar {
    display: none;
}
/* 修改 */
#goods ul{
    display: flex;
    position: relative;
    background-color: transparent;
    height: 450px;
    left: 80px;
    min-width: max-content;
}

#goods li{
    margin: 0px 53px;
    display: block;
    text-align: center;
    width: 285px;
}

#goods li img{
    width: 285px;
    height: 285px;
    top: 8px;
    left: 26px;
    gap: 0px;
    opacity: 0px;
    
}

#goods h6{
    color: #FFF;
    text-align: center;
    font-family: "Noto Serif TC";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 4px;
}

#goods p{
    margin-top: -2px;
    color: #FFF;
    text-align: center;
    font-family: "Noto Serif TC";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#shop-description2{
    position: absolute;
    width: Fixed (52px)px;
    height: Fixed (52px)px;
    top: 346px;
    left: 270px;
}

#shop-description3{
    position: absolute;
    width: 43.247px;
    height: 49px;
    transform: rotate(16.039deg);
    top: 0px;
    left: 712px;
}

#shop-description4{
    position: absolute;
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    top: 266px;
    left: 1079px;
}

#shop-description5{
    position: absolute;
    width: 103px;
    height: 74px;
    flex-shrink: 0;
    top: 0px;
    left: 1466px;
}

#shop-description6{
    position: absolute;
    width: 89.561px;
    height: 55px;
    transform: rotate(-20.968deg);
    flex-shrink: 0;
    top:251px;
    left: 1848px;
}

#shop-description7{
    position: absolute;
    top: 587px;
    left: 6.38px;
    width: 90px;
    height: 90px;
    transform: rotate(-15deg);
    flex-shrink: 0;
    z-index: 2;
}

#buy{
    position: absolute;
    width: Fixed (180px)px;
    height: Fixed (46px)px;
    top: 594px;
    /* left: 630px;   */
    left: calc(50% - 90px);
    z-index: 2;
}

#light3{
    position: absolute;
    top: 24px;
    left: 0px;
    flex-shrink: 0;
    width: Fixed (280px)px;
    height: Fixed (280px)px;
}

#light4{
    position: absolute;
    top:46px;
    left:722px;
    width: auto;
    height: auto;
    flex-shrink: 0;
    width: Fixed (280px)px;
    height: Fixed (280px)px;
}

footer{
    width: 100%; /* 自適應寬度 */
    display: flex;
    justify-content: center; /* 水平居中 */
    background: #2B3646;
    position: relative;
}

#footer-container{
    position: relative;
    width: 1440px;
    height: 300px;
    display: flex; /* 使用 Flexbox */
    justify-content: center; /* 水平居中 */
    background: #2B3646;
}

#fb{
    position: absolute;
    width: Fixed (85px)px;
    height: Fixed (85px)px;
    top: 35px;
    left: 50px;    
}

#ig{
    position: absolute;
    width: Fixed (85px)px;
    height: Fixed (85px)px;
    top: 35px;
    left: 195px;
}

#yt{
    position: absolute;
    width: Fixed (85px)px;
    height: Fixed (85px)px;
    top: 35px;
    left: 340px;    
}

footer h2{
    position: absolute;
    width: Fixed (128px)px;
    height: Fixed (47px)px;
    top: 35px;
    right: 60px;
    color: #FFF;
    text-align: right;
    font-family: "Noto Serif TC";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 200% */
}

footer p{
    position: absolute;
    color: #FFF;
    text-align: right;
    font-family: "Noto Serif TC";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    width: Fixed (679px)px;
    height: Fixed (112px)px;
    top: 130px;
    right: 60px;    
}

footer h6{
    position: absolute;
    color: rgba(255, 255, 255, 0.30);
    text-align: center;
    font-family: "Noto Serif TC";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 233.333% */
    width: Fixed (376px)px;
    height: Fixed (56px)px;
    top: 239px;
    justify-content: center;
}

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none; /* 預設隱藏 */
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  #loadingOverlay.show {
    display: flex; /* 顯示 Overlay */
  }

  /* 讓影片充滿 Overlay 區域 */
  #loadingOverlay video {
    max-width: 100%;
    max-height: 100%;
  }

#hamber-button{
    display: none;
}

@media screen and (max-width: 768px){
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    * {
        box-sizing: border-box;
    }
    

    header{
        position: absolute;
        background-color: rgba(32,32,32,0);
        width: 100%;
        height: 95px;
        z-index: 999;
    }

    #nav{
        position: relative;
        display: flex;
        justify-content: space-between; 
        width: 100%;
        z-index: 998;
        height: 95px;
    }
    
    #project-chose-button{
        display: none;
    }

    #group{
        display: none;
    }
    
    nav a img {
        width: 125px;
        height: 89.9px;
        top: 5px;
        left: 5px;      
        position: absolute;
        background-color: transparent;
    }
    
    .choose{
        display: none;
    }

    #hamber-button{
        width: 80px;
        height: 80px;
        top: 0px;
        right: 10%;
        position: relative;
        z-index: 999;
        display: block;
    }

    #hamber{
        display: none; /* 初始設置為隱藏 */
        position: absolute;
        width: 100%; /* 對齊內容到右側 */      
    }

    #hamber ul{
        width: 175px;
        height: 600px;
        top: -95px;
        right: 0;
        position: absolute;
        background: rgba(56, 61, 69, 1);
    }

    #project-chose-button1 p{
        color: #FFF;
        text-align: center;
        font-family: "Noto Serif TC";
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: Fixed (132px)px;
        height: Fixed (40px)px;
        top: 150px;
        left: 41px;
        position: absolute;
    }
    /* 修改位置，移除padding，增加flex */
    #hamber-social{
        top:196px;
        position: absolute;
        /* add */
        display: flex;
        width: 100%;
        height: calc(100% - 35%);
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #hamber ul img{
        top: 104px;
        display: block; /* 讓圖片作為塊級元素 */
        background: #383D45; /* 背景顏色 */
        /* padding-top: 40px; 頂部間距
        padding-left: 57px; */
        margin: 0; /* 移除圖片的外邊距 */ 
    }

    #video-container{
        width: 100%; /* 自適應寬度 */
        height: 310px; /* 自適應高度 */
        display: flex; /* 使用 Flexbox */
        justify-content: center; /* 水平居中 */
        background-color: rgba(0, 0, 0, 1);
        position: relative;
    }

    #video-content{
        position: relative;
        /* width: 390px; */
        width: 100%;
        height: auto;
        display: flex; /* 使用 Flexbox */
        justify-content: center; /* 水平居中 */
    }
    
    #background-image{
        position:absolute;
        top: 0px;
        /* width: 390px; */
        height: 310px;
        width: 100%;
    }
    
    #background-black{
        position:absolute;
        /* width: 390px; 自適應寬度
        height: 310px; 自適應高度 */
        background-color: rgba(0, 0, 0, 0.40);
        z-index: 1;
    }
    
    #play-button{
        display: none;
    }
    
    #scroll-image{
        display: none;
    }
    
    #point-image{
        position: absolute;
        width: 20px;
        height: 54.03px;
        top: 260px;
        /* top: 242px; */
        /* left: 185px; */
        z-index: 2;
    }
    
    #info-container{
        position: relative;
        width: 100%; /* 自適應寬度 */
        /* display: grid; */
        /* justify-content: center; */
        background-color:linear-gradient(183.12deg, #000000 0.98%, #222831 50.74%, #222831 97.41%);
        position: relative;
    }
    
    #info-section-1{
        position: relative;
        width: 100%;
        height: 930px;
        /* display: flex;
        justify-content: center; 水平居中 */
    }

    #info-content-1{
        /* width: 390px; */
        width: 100%;
        height: 930px;
    }
    /* add */
    #info-details{
        width: 100%;
        height: 100%;
    }

    #info-details ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40%;
        height: 40%;
        width: 100%;
        justify-content: space-evenly;
    }

    #info-details li{
        width: 100%;
    }

    #info-details p{
        width: 100%;
    }

    #info-details .title{
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }

    #info-details .content{
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }

    #info-details p{
        width: 100%;
    }

    #info-details .title{
        font-size: 30px;
    }

    #info-decorative-image{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 8px;
        left: 11px; 
        z-index: 2;
    }
    
    /* #info-details ul{
        position: absolute;
        color: #FFF;
        text-align: center;
        font-family: "Noto Serif TC";
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        width: Fixed (243px)px;
        height: Fixed (52px)px;
        top: 379px;
        left: 74px;     
        z-index: 2;
    } */
    
    #info-details p{
        position: absolute;
        color: #FFF;
        text-align: center;
        font-family: "Noto Serif TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px; /* 300% */
        width: Fixed (313px)px;
        height: Fixed (288px)px;
        top: 465px;
        left: 39px;  
        background-color: transparent;
        z-index: 2;
    }
    
    #logo-img{
        position: absolute;
        width: 337px;
        height: 242px;
        top: 88px;
        /* left: 27px;   */
        left: calc(50% - 165px);
        z-index: 2;
    }
    
    #info-details a img{
        all:unset;
        position: absolute;
        width: 160px;
        height: 45px;
        top: 796px;
        /* left: 115px; */
        left: calc(50% - 80px);
        background-color: transparent;
        z-index: 2;
    }
    
    #info-decorative-image2{
        display: none;
    }
    
    #light{
        display: none;
    }
    
    #info-section-2{
        position: relative;
        width: 100%;
        height: 844px;
        display: block;
        display: flex; /* 使用 Flexbox */
        justify-content: center;
        flex-direction: column;
    }
    
    #info-content-2{
        position: relative;
        width: 100%;
        /* width: 390px; */
        height: 840px;
        display: flex; /* 使用 Flexbox */
        justify-content: center; /* 水平居中 */
    }
    
    
    #exhibition-options{
        position: relative;
        width: 100%;
        z-index: 2;
        writing-mode: horizontal-tb !important;
    }
    
    #Tab-bar{
        display: none;
    }
    
    #Rectangle{
        display: none;
    }
    
    #exhibition-options p{
        color: #FFF;
        font-family: "Noto Serif TC";
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.8px;
        white-space: nowrap; /* 禁止換行（可選） */
        width: fit-content;
        height: fit-content;
    }
    
    #exhibition-options button{
        all: unset;/* 重製 */
        background-color: transparent;
        z-index: 2;
    }
    
    #exhibition-options>div{
        display: flex;
        width: 100%;
        height: fit-content;
        justify-content: space-evenly;
    }

    #place1{
        position: absolute;
        /* top: 8px; */
        /* left: 52px; */
    }
    
    #place2{
        position: absolute;
        /* top: 8px; */
        /* left: 218px; */
    }
    .place-title{
        all: unset;
        position: absolute;
        top: 40px;
        font-size: 30px;
        width: fit-content;
        color: #FFF;
        font-family: "Noto Serif TC";
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        height: fit-content;
    }
    #map{
        display: flex;
        width: 250px;
        height: auto;
        /* width: Fixed (300px)px;
        height: Fixed (227px)px; */
        /* top: 176px; */
        /* left: 45px; */
        position: absolute;
        top: 150px;
    }

    #place-info1{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 2;
    }

    #place-info1>div:nth-of-type(1){
        position: relative;
        top: 400px;
        width: 68%;
        display: flex;
        height: fit-content;
        justify-content: space-between;
    }

    #place-info1>div:nth-of-type(2){
        position: relative;
        top: 420px;
        width: 68%;
        display: flex;
        height: fit-content;
        justify-content: space-between;
    }

    #place-info1>div:nth-of-type(3){
        position: relative;
        top: 440px;
        width: 68%;
        display: flex;
        height: fit-content;
        justify-content: space-between;
    }

    #place-info2>div:nth-of-type(1){
        position: relative;
        top: 400px;
        width: 68%;
        display: flex;
        height: fit-content;
        justify-content: space-between;
    }

    #place-info2>div:nth-of-type(2){
        position: relative;
        top: 420px;
        width: 68%;
        display: flex;
        height: fit-content;
        justify-content: space-between;
    }

    #place-info2>div:nth-of-type(3){
        position: relative;
        top: 440px;
        width: 68%;
        display: flex;
        height: fit-content;
        justify-content: space-between;
    }
    /* #place-info1 h2{
        position: absolute;
        color: #FFF;
        text-align: center;
        font-family: "Noto Serif TC";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: Fixed (128px)px;
        height: Fixed (46px)px;
        top: 95px;
        left: 131px;
        z-index: 2;
    } */

    
    #name{
        all: unset;
        color: #FFF;
        font-family: "Noto Serif TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 250% */
        /* top: 422px; */
        /* left: 57px; */
        /* position: absolute; */
        /* display: flex; */
    }
    
    #date{
        all: unset;
        color: #FFF;
        font-family: "Noto Serif TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 250% */
        /* top: 468px; */
        /* left: 57px; */
        /* position: absolute;
        display: flex;   */
    }
    
    #location{
        all: unset;
        color: #FFF;
        font-family: "Noto Serif TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 250% */
        /* top: 514px; */
        /* left: 57px; */
        /* position: absolute;  
        display: flex;   */
    }
    
    #name1{
        all: unset;
        /* position: absolute; */
        color: #FFF;
        font-family: "Noto Serif TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 250% */
        width: Fixed (208px)px;
        height: Fixed (40px)px;
        /* top: 422px; */
        /* left: 113px; */
        z-index: 2;
    }
    
    #date1{
        all: unset;
        /* position: absolute; */
        width: Fixed (184px)px;
        height: Fixed (40px)px;
        /* top: 468px; */
        /* left: 113px; */
        color: #FFF;
        font-family: "Noto Serif TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 250% */
        letter-spacing: 1.28px;
        z-index: 2;
    }
    
    #location1{
        all: unset;
        /* position: absolute; */
        color: #FFF;
        font-family: "Noto Serif TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 250% */
        letter-spacing: 1.28px;
        width: Fixed (220px)px;
        height: Fixed (40px)px;
        /* top: 514px; */
        /* left: 113px; */
        z-index: 2;
    }
    
    #map-link1{
        display: none;
    }
    
    #map1{
        all: unset;
        position: absolute;
        width: 300px;
        /* height: Fixed (300px)px; */
        top: 585px;
        /* left: 45px; */
        /* gap: 0px; */
        opacity: 0px;     
        z-index: 3;
        transform: scale(1); 
    }
    
    #place-info2{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 2;
        display: none;
    }
    
    #place-info2 h2{
        position: absolute;
        color: #FFF;
        text-align: center;
        font-family: "Noto Serif TC";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: Fixed (128px)px;
        height: Fixed (46px)px;
        top: 95px;
        left: 131px;
        z-index: 2;
    }
    
    #name2{
        all: unset;
        /* position: absolute; */
        color: #FFF;
        font-family: "Noto Serif TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 250% */
        width: Fixed (208px)px;
        height: Fixed (40px)px;
        /* top: 422px;
        left: 113px;     */
        z-index: 2;
    }
    
    #date2{
        all: unset;
        /* position: absolute; */
        width: Fixed (184px)px;
        height: Fixed (40px)px;
        /* top: 468px;
        left: 113px;      */
        color: #FFF;
        font-family: "Noto Serif TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 250% */
        letter-spacing: 1.28px;
        z-index: 2;
    }
    
    #location2{
        all: unset;
        /* position: absolute; */
        color: #FFF;
        font-family: "Noto Serif TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 250% */
        letter-spacing: 1.28px;
        width: Fixed (220px)px;
        height: Fixed (40px)px;
        /* top: 514px;
        left: 113px; */
        z-index: 2;
    }
    
    #map-link2{
        display: none;
    }
    
    #map2{
        all: unset;
        position: absolute;
        width: 300px;
        height: Fixed (300px)px;
        top: 585px;
        /* left: 45px; */
        /* gap: 0px; */
        opacity: 0px;    
        transform: scale(1);  
        z-index: 3;
    }
    
    #light2{
        display: none;
    }
    
    #info-section-3{
        position: relative;
        width: 100%;
        /* width: 390px; */
        height: 844px;
        display: flex; /* 使用 Flexbox */
        justify-content: center; /* 水平居中 */
        overflow: hidden;
    }
    
    #shop h2{
        position: absolute;
        color: #FFF;
        text-align: center;
        font-family: "Noto Serif TC";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: Fixed (128px)px;
        height: Fixed (46px)px;
        top: 110px;
        left: 131px;
    }
    
    #shop-description1{
        position: absolute;
        width: Fixed (94.55px)px;
        height: Fixed (55.43px)px;
        top: 32.93px;
        left: 17.45px;
        gap: 0px;
        opacity: 0px;    
    }
    
    #goods{
        position: relative;
        /* top: 151px; */
        top: 200px;
        height: 400px;
        /* width: 1440px; */
        z-index: 2;
    }
    
    #goods ul{
        all: unset;
        display: flex;
        position: relative;
        background-color: transparent;
        height: 400px;
        /* margin-left: 108px; */
        min-width: max-content;
    }
    
    #goods li{
        margin: 8px 53px 0px;
        display: block;
        text-align: center;
        width: 285px;
    }
    
    #goods li img{
        width: 285px;
        height: 285px;
        top: 8px;
        left: 26px;
        gap: 0px;
        opacity: 0px;
        
    }
    
    #goods h6{
        color: #FFF;
        text-align: center;
        font-family: "Noto Serif TC";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    #goods p{
        margin-top: -2px;
        color: #FFF;
        text-align: center;
        font-family: "Noto Serif TC";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    #shop-description2{
        position: absolute;
        width: Fixed (52px)px;
        height: Fixed (52px)px;
        top: 346px;
        left: 270px;
    }
    
    #shop-description3{
        position: absolute;
        width: 43.247px;
        height: 49px;
        transform: rotate(16.039deg);
        top: 0px;
        left: 712px;
    }
    
    #shop-description4{
        display: none;
    }
    
    #shop-description5{
        display: none;
    }
    
    #shop-description6{
        display: none;
    }
    
    #shop-description7{
        display: none;
    }
    
    #buy{
        all: unset;
        position: absolute;
        width: 114px;
        height: 39px;
        top: 653px;
        /* left: 138px; */
        left: calc(50% - 57px);
        z-index: 2;
    }
    
    #light3{
        display: none;
    }
    
    #light4{
        display: none;
    }
    
    footer{
        width: 100%; /* 自適應寬度 */
        display: flex;
        justify-content: center; /* 水平居中 */
        background-color: rgba(43, 54, 70, 1);
        position: relative;
    }
    
    #footer-container{
        position: relative;
        width: 390px;
        height: 480px;
        display: flex; /* 使用 Flexbox */
        justify-content: center; /* 水平居中 */
        background: #2B3646;
    }
    
    #fb{
        position: absolute;
        width: 55px;
        height:55px;
        top: 60px;
        left: 63px;
    }
    
    #ig{
        position: absolute;
        width: 55px;
        height: 55px;
        top: 60px;
        left: 168px;
    }
    
    #yt{
        position: absolute;
        width: 55px;
        height: 55px;
        top: 60px;
        left: 273px;         
    }
    
    footer h2{
        position: absolute;
        width: 105px;
        height: 56px;
        top: 155px;
        left: 143px;       
        color: #FFF;
        text-align: center;
        font-family: "Noto Serif TC";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; /* 233.333% */
    }
    
    footer p{
        position: absolute;
        color: #FFF;
        text-align: center;
        font-family: "Noto Serif TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
        line-height: 28px; /* 155.556% */
        width: Fixed (287px)px;
        height: Fixed (168px)px;
        top: 240px;
        left: 47px; 
    }
    
    footer h6{
        position: absolute;
        color: rgba(255, 255, 255, 0.30);
        text-align: center;
        font-family: "Noto Serif TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; /* 350% */
        /* width: Fixed (251px)px;
        height: Fixed (56px)px; */
        /* top: 437px; */
        /* left: 70px; */
        height: 30px;
        top: 86%;
        gap: 0px;
        opacity: 0px;        
        justify-content: center;
    }

    /* add */
    #Project-page{
        all: unset;
        position: fixed;
        top: 0;
        right: 0;
        display: none;
        width: 60vw;
        height: 100vh;
        background: rgba(56, 61, 69, 1);
        overflow: hidden;
        overflow-y: auto;
        scrollbar-width: none; /* Firefox */
        z-index: 1000;
    }

    #project-chose::-webkit-scrollbar {
        display: none; /* 適用於 Chrome 和 Safari */
    }

    #Project-page1{
        all: unset;
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
    #close{
        position: fixed;
        top: 0;
        left: 40%;
        width: 40px;
        height: 40px;
    }
    #project-chose{
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 300%;
        position: absolute;
        top: 60px;
    }
    #project-chose > div{
        width: 100%;
        height: 80%;
    }
    #project-chose > div > img{
        position: unset;
    }
    .project-cont{
        position: relative;
        height: 100%;
        justify-content: space-evenly;
        flex-direction: column;
    }
    #history,#young,#tower,#school,#recycle,#river,#witch,#heart,#rock,#food,#Play,#mushroom,#music{
        position: relative;
        top: 0;
    }
}